@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-primary: #049cac;
        --brand-light: #7deffb;
        --brand-dark: #046c84;
        --brand-mid: #038795;
    }

    ::selection {
        background-color: var(--brand-light);
        color: #024a5c;
    }

    a {
        @apply transition-colors duration-150;
    }
}
